::-webkit-scrollbar {
  width: 7px;
  /* Width for vertical scrollbar */
  height: 7px;
  /* Height for horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light gray background */
  border-radius: 10px;
  /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: orange;
  /* Darker gray scrollbar handle */
  border-radius: 10px;
  /* Rounded corners */
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
  /* Even darker gray when hovered */
}

.website-wrapper {
  margin-top: 75px;

}

@media (min-width: 1200px) {
  .website-wrapper{
    margin-top: 111px;

  }
}